<template>
  <v-dialog
    :value="true"
    persistent
    max-width="600px"
  >
    <v-card>
      <v-card-title class="pa-3">
        <span class="headline">Nova Solicitação</span>
      </v-card-title>
      <v-card-text>
        <span class="subline pa-3">
          Crie um novo Registro de solicitação do cliente
        </span>
        <v-form v-model="valid">
          <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="6"
              >
                <v-select
                  v-model="contactType"
                  :items="contactTypes"
                  :rules="[$rules.required()]"
                  :item-text="item => item.label"
                  :item-value="item => item.value"
                  label="Tipo de contato"
                  placeholder="Selecione o tipo de contato"
                />
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-text-field
                  v-model="name"
                  label="Nome"
                  placeholder="Digite o nome"
                  :rules="[$rules.required()]"
                />
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-text-field
                  v-model="email"
                  :rules="[$rules.required(), $rules.email()]"
                  label="E-mail"
                  placeholder="Digite o email"
                />
              </v-col>
              <v-col
                cols="12"
                sm="6"
              >
                <v-text-field
                  v-model="phone"
                  label="Telefone"
                  placeholder="Digite o telefone"
                />
              </v-col>
              <v-col cols="12">
                <v-textarea
                  v-model="message"
                  label="Mensagem"
                  placeholder="Digite a mensagem"
                  :rules="[$rules.required()]"
                />
              </v-col>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <div class="flex-grow-1" />
        <v-btn
          text
          :to="{name: 'ContactsList'}"
        >
          Cancelar
        </v-btn>
        <v-btn
          color="primary"
          rounded
          large
          :disabled="!valid"
          @click="onAddClick({contact: {email, name, phone, message, contactType}, onSuccess})"
        >
          Adicionar
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'ContactsAdd',
  data: () => ({
    valid: false,
    name: null,
    email: null,
    phone: '',
    contactType: null,
    message: null,
  }),
  computed: mapGetters('views/contactsList', [
    'contactTypes',
  ]),
  methods: {
    ...mapActions('views/contactsList', [
      'onAddClick',
    ]),
    onSuccess() {
      this.$router.push({ name: 'ContactsList' });
    },
  },
};
</script>
