<template>
  <v-container class="guestsList">
    <portal to="content-before">
      <OrsInnerToolbar
        title="Controle de usuários"
        title-icon="mdi-account-group"
      >
        <v-btn
          color="primary"
          elevation="0"
          @click="$router.push({name: 'GuestsAdd'})"
        >
          Adicionar
        </v-btn>
      </OrsInnerToolbar>
    </portal>
    <v-row
      v-if="feedback && feedback.length ? true : false"
      class="feedback-row"
    >
      <v-col
        cols="12"
        md="6"
        offset-md="3"
      >
        <v-alert
          text
          dismissible
        >
          <v-icon>
            check
          </v-icon>
          {{ feedback }}
        </v-alert>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="12"
        md="6"
        offset-md="6"
      >
        <v-text-field
          v-model="search"
          label="Buscar"
          append-icon="mdi-magnify"
        />
      </v-col>
      <v-col cols="12">
        <v-data-table
          :search="search"
          :headers="headers"
          :items="currentAccountGuests"
          sort-by="name"
          class="elevation-1"
          :footer-props="{
            itemsPerPageText: 'Linhas por página',
          }"
        >
          <template v-slot:item.account="{ item }">
            {{ item.managerId?'Padrão':'Administrador' }}
          </template>

          <template v-slot:item.status="{ item }">
            <v-chip
              label
              x-small
              dark
              :color="colorForStatus(item.active)"
              class="convidado-status"
            >
              {{ item.active?'ativo':'inativo' }}
            </v-chip>
          </template>

          <template
            v-slot:item.action="{ item }"
            style="min-width: 80px"
          >
            <v-icon
              small
              class="mr-2"
              @click="$router.push({name: 'GuestsUpdate', params: {id: item.id}})"
            >
              mdi-pencil
            </v-icon>
            <v-dialog
              v-model="deleteDialog"
              max-width="500px"
            >
              <template v-slot:activator="{ on }">
                <v-icon
                  small
                  class="ml-2"
                  color="red"
                  v-on="on"
                >
                  mdi-delete
                </v-icon>
              </template>
              <v-card>
                <v-card-title class="pa-3">
                  <span class="headline">Remover</span>
                </v-card-title>

                <v-card-text>
                  <span class="subline pa-3">
                    Tem certeza?
                  </span>
                </v-card-text>
                <v-card-actions>
                  <div class="flex-grow-1" />
                  <v-btn
                    text
                    @click="deleteDialog = false"
                  >
                    Cancelar
                  </v-btn>
                  <v-btn
                    color="primary"
                    rounded
                    large
                    @click="onDeleteGuest({item, onDeleteFinally})"
                  >
                    Remover
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import OrsInnerToolbar from '@/components/OrsInnerToolbar.vue';

const session = createNamespacedHelpers('session');
const guestsList = createNamespacedHelpers('views/guestsList');

export default {
  name: 'GuestsList',
  components: {
    OrsInnerToolbar,
  },
  props: {
    feedback: {
      default: '',
      type: String,
    },
  },
  data: () => ({
    search: '',
    dialog: false,
    deleteDialog: false,
    headers: [
      { text: 'Nome', value: 'name', align: 'left' },
      { text: 'Email', value: 'email', align: 'left' },
      { text: 'Conta', value: 'account', align: 'left' },
      { text: 'Status', value: 'status', align: 'left' },
      {
        text: '', value: 'action', sortable: false, align: 'center',
      },
    ],
    editedIndex: -1,
    editedItem: {
      nome: 'Lorem Ipsum',
      email: 'lorem@lorem.com',
      conta: 'Teste',
      status: 'inativo',
    },
    defaultItem: {
      nome: 'Lorem Ipsum',
      email: 'lorem@lorem.com',
      conta: 'Teste',
      status: 'inativo',
    },
  }),
  computed: {
    ...guestsList.mapState(['currentAccountGuests']),
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      vm.loadGuests();
      vm.addAccountChangeListener(vm.loadGuests);
    });
  },
  beforeRouteLeave(to, from, next) {
    this.removeAccountChangeListener(this.loadGuests);
    next();
  },
  methods: {
    ...session.mapMutations([
      'addAccountChangeListener',
      'removeAccountChangeListener',
    ]),
    ...guestsList.mapActions(['loadGuests', 'onDeleteGuest']),
    onDeleteFinally() {
      this.deleteDialog = false;
    },
    colorForStatus(status) {
      const map = {
        1: 'green',
        0: 'red',
      };
      return map[status];
    },
  },
};
</script>
<style lang="stylus" scoped>
.guestsList .convidado-status {
  text-transform: uppercase;
}

.guestsList /deep/ {
  // FIXME: Move these css to specific classes to not mess with children components
  .flex.xs10.justify-center {
    text-align: center;
    font-weight: normal;
    color: #555;
    font-size: 36px;
    line-height: 1;
  }
  button.v-btn.v-btn--contained.v-btn--rounded.theme--light.v-size--default.black {
      color: #fff;
  }
  header.v-sheet.v-sheet--tile.theme--light.v-toolbar.v-toolbar--flat.white {
      display: none;
  }
  .v-dialog.v-dialog--active .theme--light.v-sheet {
      margin-top: 0;
  }

  div[role="menu"] .v-list.v-sheet.v-sheet--tile.theme--light {
      margin-top: 0;
      padding: 0;
  }
  .v-list.v-sheet.v-sheet--tile.theme--light {
      margin-top: 0;
      padding: 0;
  }
  .mt20 { margin-top: 20px;}
  h1 {
      font-size: 28px;
      font-weight: normal;
      margin: 0;
  }
  .content {
    position: relative;
  }
  .flex.feedback-row {
      margin-bottom: -50px;
  }
}
</style>
