<template>
  <v-container class="terms">
    <portal to="content-before">
      <OrsInnerToolbar
        title="Termo de aceite"
        class="terms-title"
      />
    </portal>
    <v-btn
      text
      class="terms-back font-weight-bold"
      @click="back"
    >
      <v-icon left>
        mdi-chevron-left
      </v-icon>
      voltar
    </v-btn>
    <div class="terms-text">
      <h2>TERMO DE CONFIDENCIALIDADE E ACORDO DE COMPETÊNCIAS</h2>
      <p>
        Pelo presente Termo de Confidencialidade e Acordo de Competências,
        os Clientes da Orsegups Participações S.A., e de todas as suas
        empresas coligadas, que assinam digitalmente este Instrumento,
        passam a ter o direito de acessar a Plataforma de Gestão de
        Pessoal (Meu Presença) e Documentos (Meus Documentos) da
        Orsegups S.A.
      </p>
      <h3>Do Objetivo</h3>
      <p>
        Conceder pleno acesso aos Clientes da Orsegups Participações S.A.,
        e de suas empresas coligadas, através do Portal do Cliente, em
        todos os eventos, controles e processos registrados que lhe são
        pertinentes, promovendo a transparência das ações na Prestação dos
        Serviços, bem como definir as competências das partes neste
        processo de automatização das informações.
      </p>
      <h3>Do Sigilo</h3>
      <p>
        O Cliente, os seus representantes, e/ou os seus colaboradores
        autorizados, doravante usuários da Plataforma de Gestão da Orsegups,
        comprometem-se através deste instrumento, e sob pena da lei, a zelar
        e a guardar sigilo sobre todas as informações que terão acesso, a
        saber: do(s) Contrato(s); das Ações de Segurança; dos Colaboradores
        alocados na prestação dos serviços e correlatas.
      </p>
      <h3>Das Competências</h3>
      <h4>3.1. Da Orsegups</h4>
      <p>
        Compete exclusivamente a Orsegups Participações S.A., e as suas empresas coligadas:<br>
        a) Enviar por e-mail ao Cliente a(s) sua(as) Nota(s) Fiscal(is)
        eletrônica(s) referente a prestação dos Serviços, seus
        respectivos meios de pagamentos (boletos bancários) e as Guias
        de Recolhimento (DARF e GPS), quando aplicável;<br>
        b) Manter a Plataforma de Gestão em pleno funcionamento com as
        informações rotineiras de dados e eventos pertinentes a prestação
        dos serviços ao Cliente, permitindo-lhe acesso a tal;<br>
        c) Disponibilizar, por até 6 meses, ao Cliente em sua conta
        no Portal do Cliente Orsegups, de forma eletrônica, os documentos
        administrativos, fiscais e contábeis por ele solicitados, que
        permitam-lhe a auditoria contínua das rotinas e dos pagamentos
        devidos e realizados pela Orsegups;<br>
        d) Manter o canal de comunicação do Cliente com a Orsegups,
        através do gerenciamento de suas demandas e a pronta resposta.<br>
      </p>
      <h4>3.2. Dos Clientes</h4>
      <p>
        Compete exclusivamente ao Cliente Promover a Auditoria da
        Prestação do Serviços prestados pela Orsegups e a Auto Gestão
        de suas demandas administrativas, contábeis e fiscais;
        solicitações, sugestões e reclamações; pedidos e outras
        necessidades; através de sua conta exclusiva no Portal do Cliente
        Orsegups, inclusive a baixa, recebimento e providências que lhe
        aprouver, por exclusiva via eletrônica, dos seguintes documentos:
      </p>
      <p>
        a) Nota Fiscal Eletrônica da prestação de serviços, emitida
        mensalmente pela Orsegups,<br>
        b) Boleto Bancário (se esta for a forma de pagamento),<br>
        c) Folha de Pagamento (quando aplicável),<br>
        d) GRF (Guia de Recolhimento do FGTS, quando aplicável),<br>
        e) GPS (Guia da Previdência Social, quando aplicável),<br>
        f) Outros documentos específicos de cada Cliente, que até então
        eram entregues de forma impressa, e que serão doravante
        disponibilizados exclusivamente de forma eletrônica na conta do
        Cliente, no Portal do Cliente Orsegups.<br>
      </p>
      <p>
        E por concordarem com todas as premissas e resoluções constantes
        neste instrumento, as partes aprovam e anuem ao expresso de forma
        eletrônica.
      </p>
    </div>
    <div class="terms-actions">
      <v-btn
        text
        large
        class="font-weight-bold"
        @click="back"
      >
        Cancelar
      </v-btn>
      <v-btn
        large
        rounded
        color="primary"
        class="ml-4 font-weight-bold"
        @click="accept"
      >
        Aceito
      </v-btn>
    </div>
  </v-container>
</template>

<script>
import OrsInnerToolbar from '@/components/OrsInnerToolbar.vue';

export default {
  name: 'Terms',
  components: {
    OrsInnerToolbar,
  },
  props: {
    redirect: {
      type: Object,
      required: true,
    },
    onAccept: {
      type: Function,
      required: true,
    },
  },
  methods: {
    back() {
      this.$router.push(this.redirect);
    },
    accept() {
      this.onAccept();
      this.back();
    },
  },
};
</script>

<style>
.terms-title .container {
  max-width: 728px;
  margin-left: auto;
  margin-right: auto;
}
</style>

<style scoped>
@import '~@/style/variables.css';
.terms {
  line-height: 2;
  font-family: 'Raleway', sans-serif;
  max-width: 728px;
  margin-left: auto;
  margin-right: auto;
}

.terms .terms-back {
  color: var(--dash-color-3);
}

.terms .terms-actions {
  display: flex;
  justify-content: flex-end;
}

h2 {
  font-family: 'Encode Sans', sans-serif;
  font-size: 18px;
}

h2, h3, h4 {
  color: var(--primary-color-3);
  font-weight: bold;
}

h3 {
  font-size: 16px;
}

h4, p {
  font-size: 14px;
}
</style>
