<template>
  <div class="central-atendimento hidden-sm-and-down ml-4">
    <div class="justify-center d-flex align-center">
      <a
        href="https://wa.me/+5548996110007"
        target="_blank"
      >
        <v-icon>mdi-whatsapp</v-icon>
      </a>
      <span class="phone ml-4 d-flex align-center justify-center flex-column">
        <div class="main-phone">4020-4411</div>
        <div class="small">Capitais e Regiões Metropolitanas</div>
      </span>
      <span class="phone ml-4 d-flex align-center justify-center flex-column">
        <div class="secondary-phone">0800-648-6600</div>
        <div class="small">Demais localidades</div>
      </span>
    </div>
  </div>
</template>
<style scoped>
.central-atendimento a {
  text-decoration: none;
}
.central-atendimento a i {
  color: #075e54;
}
.central-atendimento .phone {
  color: #203b8b;
  font-weight: bolder;
  font-size: 20px;
  line-height: 19px;
  white-space: nowrap;
}
.central-atendimento .phone .small {
  font-size: 9px !important;
}
</style>
