<template>
  <div>
    <v-row>
      <v-col
        cols="12"
        md="4"
      >
        <v-input label="Data de início">
          {{ contact.dataInicio }}
        </v-input>
      </v-col>
      <v-col
        cols="12"
        md="4"
      >
        <v-input label="Data de fim">
          {{ contact.dataConclusao }}
        </v-input>
      </v-col>
      <v-col
        cols="12"
        md="4"
      >
        <v-input
          label="Satisfação"
          :class="`${color}--text`"
        >
          {{ contact.satisfacao || 'N/A' }}
        </v-input>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        cols="12"
        md="4"
      >
        <v-input label="Categoria">
          {{ contact.categoria }}
        </v-input>
      </v-col>
      <v-col
        cols="12"
        md="6"
      >
        <v-input label="Atendente">
          {{ contact.atendente }}
        </v-input>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12">
        <v-input
          v-if="showDescription"
          label="Contato"
        >
          {{ contact.descricao }}
        </v-input>
        <v-input
          v-else
          label="Contato"
        >
          {{ strip(contact.descricao) }}
        </v-input>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    contact: {
      type: Object,
      required: true,
    },
    color: {
      type: String,
      required: true,
    },
    showDescription: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    strip(text) {
      return `${text.slice(0, 80)}...`;
    },
  },
};
</script>
